# Replace with your DB credentials!
DATABASE_URL="postgres://user:password@host:port/db-name"

# Resend (envio de e-mails)
RESEND_API_KEY="re_xxxxxxxxxxxx"
RESEND_FROM_EMAIL="certificados@seudominio.com"
